.form-wrapper {
    text-align:center;
    margin:auto;
}

table {
    border-collapse: collapse;
    border: none;
}

td {
    text-align: center;
    vertical-align: middle;
    border: none;
}

iframe {
    height: 70px;
}

input {
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: 1em;
    padding-right:1em;
    min-width: 350px;
    color: #525252;
    height: 1em;
    font: 1em/1em Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
    width: auto;
    background: #fff;
}

button {
    height: 2.2em;
    min-width: 350px;
    width: auto;
    font: 1em/1.2em Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
    line-height: 1.2em;
    background-color: #06c;
    background-image: linear-gradient(bottom,#06c 0,#2492ff 66%);
    background-image: -o-linear-gradient(bottom,#06c 0,#2492ff 66%);
    background-image: -moz-linear-gradient(bottom,#06c 0,#2492ff 66%);
    background-image: -webkit-linear-gradient(bottom,#06c 0,#2492ff 66%);
    background-image: -ms-linear-gradient(bottom,#06c 0,#2492ff 66%);
    background-image: -webkit-gradient(linear,right bottom,right top,color-stop(0,#06c),color-stop(0.66,#2492ff));
    border: #039 solid 1px;
    text-shadow: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: #039 0 1px 1px;
}

button:hover {
    border: #039 solid 1px;
    text-shadow: #039 0 1px 1px;
    background-color: #2492ff;
    background-image: none;
}
button:active {
    border: #039 solid 1px;
    text-shadow: #039 0 1px 1px;
    background-image: linear-gradient(top,#06c 0,#2492ff 66%);
    background-image: -o-linear-gradient(top,#06c 0,#2492ff 66%);
    background-image: -moz-linear-gradient(top,#06c 0,#2492ff 66%);
    background-image: -webkit-linear-gradient(top,#06c 0,#2492ff 66%);
    background-image: -ms-linear-gradient(top,#06c 0,#2492ff 66%);
    background-image: -webkit-gradient(linear,right top,right bottom,color-stop(0,#06c),color-stop(0.66,#2492ff));
}

button:disabled {
    border: #999999 solid 1px;
    text-shadow: #030 0 1px 1px;
    background-image: linear-gradient(top,#999999 0,#bbbbbb 66%);
    background-image: -o-linear-gradient(top,#999999 0,#bbbbbb 66%);
    background-image: -moz-linear-gradient(top,#999999 0,#bbbbbb 66%);
    background-image: -webkit-linear-gradient(top,#999999 0,#bbbbbb 66%);
    background-image: -ms-linear-gradient(top,#999999 0,#bbbbbb 66%);
    background-image: -webkit-gradient(linear,right top,right bottom,color-stop(0,#999999),color-stop(0.66,#bbbbbb));
}

.error_field {
    border: 1px solid red;
}