.form-wrapper {
    text-align:center;
    margin:auto;
}

table {
    border-collapse: collapse;
    border: none;
}

td {
    text-align: center;
    vertical-align: middle;
    border: none;
}

iframe {
    height: 70px;
    align: center;
}

input {
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: 1em;
    padding-right:1em;
    min-width: 350px;
    color: #525252;
    height: 1em;
    font: 1em/1em Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
    width: auto;
    background: #fff;
}

#progressbar {
    height: 1em;
    width: 350px;
    text-align: center;
    display: inline-block;
}

#progressbar-label {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 12px;
}

#progressbar .ui-progressbar-value {
    background-color: #cb0143;
}

#incomplete-form-warning {
    font-size: 17px;
    margin-top: 30px;
    color: #DDDDDD;
}

#fileselect {
    display: none;
}

#uploadbutton {
    width: 10%;
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    height: 2.2em;
    min-width: 350px;
    width: auto;
    font-family: 'Brandon';
    line-height: 1.2em;
    background-color: #cb0143;
    background-image: linear-gradient(bottom,#cb0143 0,#ff0054 66%);
    background-image: -o-linear-gradient(bottom,#cb0143 0,#ff0054 66%);
    background-image: -moz-linear-gradient(bottom,#cb0143 0,#ff0054 66%);
    background-image: -webkit-linear-gradient(bottom,#cb0143 0,#ff0054 66%);
    background-image: -ms-linear-gradient(bottom,#cb0143 0,#ff0054 66%);
    background-image: -webkit-gradient(linear,right bottom,right top,color-stop(0,#cb0143),color-stop(0.66,#ff0054));
    border: #039 solid 1px;
    text-shadow: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: #039 0 1px 1px;
}

.disabled {
    border: #e64e96 solid 1px;
    text-shadow: #030 0 1px 1px;
    background-image: linear-gradient(top,#e64e96 0,#f36691 66%);
    background-image: -o-linear-gradient(top,#e64e96 0,#f36691 66%);
    background-image: -moz-linear-gradient(top,#e64e96 0,#f36691 66%);
    background-image: -webkit-linear-gradient(top,#e64e96 0,#f36691 66%);
    background-image: -ms-linear-gradient(top,#e64e96 0,#f36691 66%);
    background-image: -webkit-gradient(linear,right top,right bottom,color-stop(0,#e64e96),color-stop(0.66,#f36691));
}

.error_field {
    border: 1px solid red;
}